* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1000px;
  margin: 30px auto;
}
button {
  background-color: #3275f1;
  color: #fff;
  border: none;
  outline: none;
  padding: 12px 30px;
  text-transform: capitalize;
  cursor: pointer;
}
ul {
  list-style-type: none;
  margin: 40px 0;
  width: 500px;
}
ul .list-item {
  border: 1px solid #eee;
  padding: 10px 8px;
}
